body{
    padding: 0;
    margin: 0;
    background-color: aquamarine;
}

h1 {
    text-align: center;
    color: darkslategrey;
}

.container {
   margin-top: 100px;
   margin-bottom: 100px;
   width: 20%;
   background-color: #fff;
   margin-left: auto;
   margin-right: auto;
   padding: 30px;
   
}

.search {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
}

input {
    padding: 15px 10px;
    width: 400px;
    outline: none;
}


.li-container {
    background-color: #fff;
    width: 100%;
    color: #000;
    margin-top: 20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}


.btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
  }



.btn-delete:hover {
    cursor: pointer;
    background-color: lightseagreen;
  }

.btn-add {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
}



.btn-add:hover {
    background-color: lightseagreen;
    /* transition: all 0.2s ease; */
    cursor: pointer;
}

.empty {
    background-color: #fff;
}




















  